{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div>
    <h1>A propos de TechBlog {{ test }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum consequuntur ea illum impedit sapiente velit quod adipisci quasi sunt perspiciatis, consectetur aspernatur modi animi autem omnis ex cumque optio!</p>
</div>
{% endblock %}
